.item {
  height: 120px;
  margin: 25px 25px;
  background-color: #f1f1f1;
  border-bottom: 2px solid black;
  border-top: 1px solid #333;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img {
  height: 100px;
  display: inline-block;
  width: 80px;
  
  margin-left: 15px;
}

.img img {
  width: 80px;
  height: 100px;
}

.content {
  width: 800px;
  margin: 0 15px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-end;
}

.content_title {
  max-height: 70.8px;
  display: block;
  font-size: 22px;
  padding: 5px;
  width: 762px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content_control {
  display: flex;
  align-items: flex-start;
}

.control_btn {
  width: 40px;
  height: 30px;
  font-size: 24px;
  margin: 0 10px;
}

.control_price {
  font-size: 26px;
  margin: 0 20px 0 5px;
}
.control_count {
  font-size: 24px;
}
.control_price_currency {
  color: rgb(244, 96, 96);
  font-size: 22px;
  margin-right: 5px;
}
