.item {
  width: 196px;
  height: fit-content;
  min-height: 383px;
  margin: 10px 25px;
  border: 2px solid transparent;
  border-radius: 15px;
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
}
.item:hover {
  border: 2px solid #333;
}
.img_div {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

.img {
  width: 170px;
  height: 240px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.title {
  text-align: center;
  margin: 0 auto;
  display: block;
  display: -webkit-box;
  max-width: 170px;
  font-size: 16px;
  -webkit-line-clamp: 2; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.autor {
  text-align: center;
  margin: 0 auto;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  margin-bottom: 10px;
}

.btn_div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: fit-content;
  margin-bottom: 10px;
}

.btn {
  text-align: center;
  width: 80px;
  display: inline-block;
  height: 30px;
}

.price {
  display: inline-block;
  font-size: 20px;
  margin-right: 15px;
}
